@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Homemade+Apple&display=swap');

@font-face {
  font-family: 'Avenir';
  src: url('assets/AvenirLTProBook.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Above the Beyond';
  src: url('assets/above-the-beyond-script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --bg: #2B4D2C;
  --fg: #F8F6CD;
  --accent: #1A3403;
  --shadow-color: rgba(0, 0, 0, 0.1);

  --mid-text: clamp(1.5rem, 2.5vw, 2rem);
  --large-text: clamp(2rem, 7vw, 4rem);
  --small-text: clamp(0.75rem, 2vw, 1.25rem);

  font-family: 'Courier Prime', monospace;
  background-color: var(--bg);
  color: var(--fg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 1rem;
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 800px;
  opacity: 0.2;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  min-height: calc(100vh - 4rem);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.columns {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.slideshow {
  margin: auto;
}

.slideshow-image {
  margin: 1rem;
  width: calc(100% - 2rem);
  border: 2px solid var(--fg);
  border-radius: 10px;

  box-shadow: 0 2px 2px var(--shadow-color),0 4px 4px var(--shadow-color),0 8px 8px var(--shadow-color);
}

.right {
  margin-left: 2rem;
}

.names {
  font-family: 'Homemade Apple', sans-serif, cursive;
  font-size: var(--large-text);
  font-weight: 400;
  line-height: 1.2;
  margin-top: 5rem;
}

.date {
  font-size: var(--mid-text);
  font-weight: 300;
}

#date {
  margin: 1rem 0 4rem 0;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.info {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-items: start;
  grid-column-gap: 1rem;
  font-size: var(--mid-text);
  text-align: left;

  width: 100%;
  max-width: fit-content;

  margin-bottom: 2rem;
}

.info img {
  grid-row: 1 / -1;
  max-width: 45px;
  margin: 0 0 0.5em 0;
}

.info .label {
  font-size: var(--small-text);
  text-transform: uppercase;
  grid-column: 2 / -1;
}

.script {
  font-family: 'Homemade Apple', sans-serif, cursive;
}

.website {
  font-size: var(--small-text);
  font-weight: 300;
  margin-top: auto;
}

@media (max-width: 810px) {

  .container {
    --mid-text: clamp(1.25rem, 2.5vw, 1.75rem);
    --large-text: clamp(2.25rem, 6vw, 4rem);
    --small-text: clamp(1rem, 2vw, 1.5rem);

    padding: 1rem;
    text-align: center;
  }

  .columns {
    display: block;
  }

  .right {
    margin: auto;
  }

  .names {
    margin: 1.5rem 0 2.5rem 0;
  }

  .slideshow-image {
    max-width: 300px;
    width: 60vw;
  }

  #date {
    margin: -2rem 0 2.5rem 0;
  }

  .narrow-remove {
    display: none;
  }

  .info {
    grid-template-columns: auto auto;
  }

  .info .label {
    grid-column: auto;
  }

  .info div {
    margin: -0.2rem 0;
  }

  .info img {
    margin: 0.5em 0 0 0;
  }

  .script {
    font-size: 1.2em;
    margin: 0.75rem 0 -0.25rem 0;
    display: block;
  }
}