@font-face {
  font-family: 'Avenir';
  src: url('assets/AvenirLTProBook.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Above the Beyond';
  src: url('assets/above-the-beyond-script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --bg: #2B4D2C;
  --fg: #F8F6CD;
  --accent: #1A3403;

  --mid-text: clamp(1rem, 4vw, 2rem);
  --large-text: clamp(2rem, 7vw, 4rem);
  --small-text: clamp(0.75rem, 2vw, 1.25rem);

  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 800px;
  opacity: 0.2;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  min-height: calc(100vh - 4rem);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.names {
  font-family: 'Above the Beyond', sans-serif, cursive;
  font-size: var(--mid-text);
  font-weight: 400;
  line-height: 1.2;
  margin-top: 5rem;
}

.date {
  font-size: var(--mid-text);
  font-weight: 300;
}

#date {
  margin: -1rem 0 4rem 0;
  font-size: var(--large-text);
}

.info {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-items: start;
  grid-column-gap: 1rem;
  font-size: var(--mid-text);

  width: 100%;
  max-width: fit-content;

  margin-bottom: 2rem;
}

.info img {
  grid-row: 1 / -1;
  max-width: 60px;
  margin-bottom: 0.5em;
}

.info .label {
  font-size: var(--small-text);
  text-transform: uppercase;
  grid-column: 2 / -1;

  margin-bottom: -0.5rem;
}

.script {
  font-family: 'Above the Beyond', sans-serif, cursive;
}

.website {
  font-size: var(--small-text);
  font-weight: 300;
  margin-top: auto;
}

@media (max-width: 768px) {

  .container {
    --mid-text: clamp(1.25rem, 4vw, 2rem);
    --large-text: clamp(2.5rem, 6vw, 5rem);
    --small-text: clamp(1rem, 2vw, 1.5rem);

    padding: 1rem;
  }

  .names {
    margin-bottom: 3rem;
  }

  #date {
    margin: -2rem 0 6rem 0;
  }

  .narrow-remove {
    display: none;
  }

  .info {
    grid-template-columns: auto auto;
  }

  .info .label {
    grid-column: auto;
  }

  .info div {
    margin: -0.2rem 0;
  }
}